
BINANCE_API_KEY=a2MnVzTeD2TeXrT76q3DzwckLnoFJp50jT7erkDuNq8giyrNpVpoJ2AMVgSgqE6W
BINANCE_SECRET_KEY=AChPObBzBBOkjnYooRSf5cIwvssb9gVxx7xEtGnSy3caErCY4vDOENx8tzUdSFSJ

# true = testnet (dinero simulado) / false = cuenta real (PELIGRO)
USE_TESTNET=true
